/* =================================
  Base Styles
==================================== */
* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 700px;
}

body {
    font-family: 'Roboto', sans-serif;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
/* =================================
  FAKE PAGES
==================================== */

 ::-webkit-input-placeholder {
    color: #d9d9d9;
    font-family: Roboto;
    font-weight: 100;
}

 ::-moz-placeholder {
    color: #d9d9d9;
    font-family: Roboto;
    font-weight: 100;
}

 :-ms-input-placeholder {
    color: #d9d9d9;
    font-family: Roboto;
    font-weight: 100;
}

 :-moz-placeholder {
    color: #d9d9d9;
    font-family: Roboto;
    font-weight: 100;
}
/* =================================
  HEADER
==================================== */
.main-title {
    color: #ead7d8;
    text-align: center;
    padding: 25px;
    font-size: 90px;
    font-weight: 200;
}
/* =================================
  THE TO DO LIST
==================================== */
